{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-SV1GK4N7NY"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'G-SV1GK4N7NY');
    </script>
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Everest Grill">
    <meta name="keywords" content="Everest Grill & Restro, Everest Grill, Restro in Tallin, Restro in Estonia, Best Restro in Estonia, Best Restaurant in Estonia, Best Restri in Tallin, Best Restaurant in Tallin, Food, Restaurant, Estonia, Tallin, Authentic Food in Tallin, Authentic Food in Estonia, Authentic Food in Europe">
    <meta name="type" content="Everest Grill & Restro">
    <meta name="title" content="Everest Grill & Restro">
    <meta name="description" content="Everest Grill & Restro">
    <title>{% block title %}{% endblock title %} - Everest Grill & Restro</title>
    <!-- ==============favicon=============== -->
    <link rel="manifest" href="{% static '/assets/ico/manifest.json' %}">
    <link rel="shortcut icon" type="image/ico" href="{% static '/assets/ico/favicon.ico' %}">
    <!-- Apple Touch Icon -->
    <link rel="apple-touch-icon" type="image/ico" href="{% static '/assets/ico/favicon.ico' %}">
    <!-- ======Css Files====== -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha512-GQGU0fMMi238uA+a/bdWJfpUGKUkBdgfFdgBm72SUQ6BeyWjoY/ton0tEjH+OSH9iP4Dfh+7HM0I9f5eR0L/4w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/7.0.9/swiper-bundle.min.css" integrity="sha512-ypNm2e5TekholBAuQ9fOgYPJyhRYXrykMm0BBbhPvD8TQyEBsNqEaWcBxtZBEkxxvwoWpUBKXfNO2z+PdwSjew==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/font/icofont.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css" integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/meanmenu.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css" integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}">
</head>

<body>
    <!-- Preloader Start -->
    <div id="preloader">
        <div id="container" class="container-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>
    <!-- Preloader End -->
    <div>
        <!-- header  -->
        <header>
            <!-- header  -->
            <div class="header header-default">
                <!-- container  -->
                <div class="container">
                    <!-- header inner -->
                    <div class="header-inner">
                        <div class="logo">
                            <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/svg/main-logo.svg' %}" alt="Everest Grill & Restro" class="logo-img" height="45"></a>
                        </div>
                        <div class="header-right">
                            <div class="header-menu d-none d-lg-block">
                                <nav class="cf-header-menu" id="header-menu">
                                    <ul>
                                        <li><a href="{% url 'home' %}">Home</a></li>
                                        <li><a href="{% url 'about' %}">About Us</a></li>
                                        <li><a href="{% url 'menu' %}">Menu</a></li>
                                        <li><a href="#">Team</a></li>
                                        <li><a href="#">Guest Book</a></li>
                                        <li><a href="#">Contact</a></li>
                                    </ul>
                                </nav>
                            </div>
                            <div class="header-right-search-phone d-none d-lg-block ml-35" id="search">
                                    <a href="tel:++372 5450 2301" class="header-phone" ><img src="{% static 'assets/img/icon/call.png' %}" alt="Call Us" class="contact-icon">+372 5450 2301</a>
                            </div>
                            <div class="d-lg-none dr-navbar-mobile-sign side-toggle">
                                <!-- <span class="headeer-navigaiton"><i class="icofont-navigation-menu"></i></span> -->
                                <div class="dr-navbar-sign menu-tab">
                                    <span class="dr-line-1"></span>
                                    <span class="dr-line-2"></span>
                                    <span class="dr-line-3"></span>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!-- header inner end  -->

                </div>
                <!-- container end  -->
            </div>
            <!-- nav end -->
        </header>
        <!-- header end  -->
        <!-- dr-sidebar-information-area-start -->
        <div class="dr-sidebar-info side-info">
            <div class="dr-sidebar-logo-wrapper mb-25">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-8">
                        <div class="dr-sidebar-logo">
                            <a href="{% url 'home' %}"><img src="{% static 'assets/img/logo/svg/main-logo.svg' %}" alt="logo-img"></a>
                        </div>
                    </div>
                    <div class="col-xl-6 col-4">
                        <div class="dr-sidebar-close-wrapper text-end">
                            <button class="dr-sidebar-close side-info-close"><i class="icofont-close-line"></i></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="dr-sidebar-menu-wrapper fix">
                <div class="cf-header-menu"></div>
            </div>

            <div class="dr-sidebar-contact-wrapper mt-40">
                <div class="dr-sidebar-contact mb-40">
                    <h4 class="dr-sidebar-contact-title">Contact Info</h4>
                    <span class="sidebar-address"><i class="icofont-google-map"></i><span>Narva mnt 15, Tallinn, Estonia</span> </span>
                    <a href="tel:+1(251)410-1010"><i class="icofont-phone"></i><span>+372 5450 2301</span></a>
                    <a href="mailto:example@gmail.com" class="theme-3"><i class="icofont-envelope-open"></i><span><span>info@everestgrill.ee</span></span></a>   
                </div>

                <div class="dr-sidebar-social mt-40 mb-30">
                    <a href="#" class="facebook"><i class="fab fa-facebook-f"></i></a>
                    <a href="#" class="twitter"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="linkedin"><i class="fab fa-linkedin-in"></i></a>
                    <a href="#" class="youtube"><i class="fab fa-dribbble"></i></a>
                </div>
            </div>
        </div>
        <div class="offcanvas-overlay"></div>
        <!-- dr-sidebar-information-area-end -->
        <div class="body-wrapper">
            
            {% block breadcrumbs %}
            {% endblock breadcrumbs %}

            {% block maincontent %}
            {% endblock maincontent %}
            <!-- ========================Footer ============= -->
            <footer>
                <!-- footer section  -->
                <div class="footer-section footer-1" data-background="{% static 'assets/img/footer-bg.png' %}">
                    <!-- container  -->
                    <div class="container">
                        <!-- row  -->
                        <div class="row">
                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 smpadright40" data-aos="fade-up" data-aos-duration="1000">
                                <div class="footer-content-wrapper">
                                    <div class="footer-logo mb-4">
                                        <img src="{% static 'assets/img/logo/svg/footer-logo.svg' %}" alt="Everest Grill Logo" height ="80">
                                    </div>
                                    <p>Experience new heigths of flavour, Taste the best at Everest Grill.</p>
                                    <ul class="address">
                                        <li><span class="icofont-location-pin"></span>
                                            <p class="address-info">Narva mnt 15, Tallinn, Estonia</p>
                                        </li>

                                        <li><span class="icofont-email"></span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="mailto:nfo@example.com">info@everestgrill.ee</a></p>
                                            </div>
                                        </li>

                                        <li><span class="icofont-ui-call"> </span>
                                            <div class="address-inner">
                                                <p class="address-info"><a href="tel:+372 5450 2301">+372 5450 2301</a></p>
                                                <p class="address-info"><a href="tel:+372 659 0102">+372 659 0102</a></p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 padleft40" data-aos="fade-up" data-aos-duration="1500">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Quick links</h4>
                                    </div>
                                    <ul class="qu-link">
                                        <li class="foot-list"><a href="{% url 'home' %}" class="footer-link">Home</a></li>
                                        <li class="foot-list"><a href="{% url 'about' %}" class="footer-link">About Us</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Gallery</a></li>
                                        <li class="foot-list"><a href="{% url 'menu' %}" class="footer-link">Menu</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Team</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Contact Us</a></li>
                                        <li class="foot-list"><a href="#" class="footer-link">Reservation</a></li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2 padright40" data-aos="fade-up" data-aos-duration="2000">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Instagram</h4>
                                    </div>
                                    <ul class="insta-feed">
                                        <li class="foot-list">
                                            <a href="#" class="footer-link"><img src="{% static 'assets/img/instagram/1.png' %}" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="#" class="footer-link"><img src="{% static 'assets/img/instagram/1.png' %}" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="#" class="footer-link"><img src="{% static 'assets/img/instagram/1.png' %}" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="#" class="footer-link"><img src="{% static 'assets/img/instagram/1.png' %}" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="#" class="footer-link"><img src="{% static 'assets/img/instagram/1.png' %}" alt=""></a>
                                        </li>
                                        <li class="foot-list">
                                            <a href="#" class="footer-link"><img src="{% static 'assets/img/instagram/1.png' %}" alt=""></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="col-lg-3 col-md-6 col-sm-6 my-2" data-aos="fade-up" data-aos-duration="2500">
                                <div class="footer-content-wrapper">
                                    <div class="footer-sec-head mb-4">
                                        <h4 class="footer-widget-title">Subscribe</h4>
                                    </div>

                                    <p class="subscribe-des">
                                        Subscribe Us to get to know first of our discount offers.
                                    </p>

                                    <form class="hero-form" action="#">
                                        <div class="input-group mb-3">
                                            <input type="text" class="form-control subscribtion-input" placeholder="Enter Your Email">
                                            <button type="submit" class="custom-btn"><span
                                                    class="icofont-location-arrow"></span></button>
                                        </div>
                                    </form>
                                    <ul class="social-ul">
                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-facebook"></span></a>
                                        </li>

                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-twitter"></span></a>
                                        </li>

                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-skype"></span></a>
                                        </li>

                                        <li class="social-list">
                                            <a href="#" class="social-link"><span class="icofont-instagram"></span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <!-- row end  -->
                    </div>
                    <!-- container end  -->
                    <!-- last footer  -->
                    <div class="last-footer">
                        <div class="container">
                            <div class="row" >
                                <div class="text-center">
                                    <p class="copyright-text">&copy; 2024 All Rights Reserved - Everest Grill | Powered by <a class="copyright-link" href="https://merocms.com">MeroCMS</a></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- last footer end  -->
                </div>
                <!-- footer section end  -->
            </footer>
            <!-- ========================Footer end============= -->


        </div>
    <!-- =======================body wrapper end========= -->
    </div>
    <!-- ====main wrapper end == -->

    <!-- ======script======= -->
    <!-- =====jquery===== -->
    <script src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
    <!-- =====bootstrap===== -->
    <script src="{% static 'assets/js/bootstrap/bootstrap.bundle.min.js' %}"></script>
    <!-- ======slider===== -->
    <script src="{% static 'assets/js/swiper/swiper-bundle.min.js' %}"></script>
    <!-- ===============animation========= -->
    <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'assets/js/animation/aos.js' %}"></script>
    <script src="{% static 'assets/js/meanmenu.js' %}"></script>
    <!-- ======mixitup======= -->
    <script src="{% static 'assets/js/mixitup/mixitup.min.js' %}"></script>
    <script src="{% static 'assets/js/nouislider.js' %}"></script>
    <!-- ======custom script====== -->
    <script src="{% static 'assets/js/app.js' %}"></script>
    <!-- ========mixitup init========= -->
    <script src="{% static 'assets/js/mixitup.init.min.js' %}"></script>
   <!-- ========gsap animation effect========= -->
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/ScrollTrigger.min.js"></script>


<!-- Preloader -->
<script src="{% static 'assets/js/jquery/jquery.min.js' %}"></script>
<script>
    $(document).ready(function() {
    setTimeout(function() {
    $('#container').addClass('loaded');
    if ($('#container').hasClass('loaded')) {

    $('#preloader').delay(2000).queue(function() {
     $(this).remove();
    });}
    }, 2000);});
</script>
</body>
</html>