{% extends "theme/base.html" %}
{% load static %}
{% block title %}Home {% endblock %}
<!-- =======================body wrapper========= -->
{% block maincontent %}

    <!-- banner  -->
    <section>
        <!-- banner  -->
        <div class="banner banner-1" data-background="{% static 'assets/img/banner-bg.webp' %}">
            <!-- container  -->
            <div class="container">
                <!-- banner slider  -->
                <div class="banner-slider">
                    <div class="swiper bannerSlider">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-md-6 my-2">
                                        <div class="slider-details">
                                            <div class="text-inner">
                                                <span class="sm-title mb-0">Signature Dishes In Everest Grill</span>
                                                <h1 class="banner-title">
                                                    Butter Chicken with <a href="#">Garlic Naan</a>
                                                </h1>
                                                <p class="banner-des">Indulge in creamy butter chicken paired with perfectly crisp garlic naan for an unforgettable flavor experience.</p>
                                                <div class="banner-btn-sec mt-3">
                                                    <a href="" class="custom-btn">Visit Us!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 my-2">
                                        <div class="slider-item-img">
                                            <img src="{% static 'assets/img/slider/slider1.png' %}" alt="Butter Chicken with Garlic Naan">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-md-6 my-2">
                                        <div class="slider-details">
                                            <div class="text-inner">
                                                <span class="sm-title mb-0">Signature Dishes In Everest Grill</span>
                                                <h1 class="banner-title">
                                                    Tandoori <a href="#">Chicken</a> with Mint Sauce
                                                </h1>
                                                <p class="banner-des">Savor the bold flavors of tandoori chicken, expertly grilled and served with a refreshing mint sauce.</p>
                                                <div class="banner-btn-sec mt-3">
                                                    <a href="" class="custom-btn">Visit Us!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 my-2">
                                        <div class="slider-item-img">
                                            <img src="{% static 'assets/img/slider/slider2.png' %}" alt="Image not found">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-md-6 my-2">
                                        <div class="slider-details" >
                                            <div class="text-inner">
                                                <span class="sm-title mb-0">Signature Dishes In Everest Grill</span>
                                                <h1 class="banner-title">
                                                    Authentic <a href="#">MO:MO</a>
                                                </h1>
                                                <p class="banner-des">Relish the authentic taste from the land of Himalayas, bursting with savory fillings and served with a zesty dipping sauce.</p>
                                                <div class="banner-btn-sec mt-3">
                                                    <a href="" class="custom-btn">Visit Us!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 my-2">
                                        <div class="slider-item-img">
                                            <img src="{% static 'assets/img/slider/slider3.png' %}" alt="Image not found">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-md-6 my-2">
                                        <div class="slider-details" >
                                            <div class="text-inner">
                                                <span class="sm-title mb-0">Signature Dishes In Everest Grill</span>
                                                <h1 class="banner-title">
                                                    Spicy <a href="#">Chicken</a> with Sesame Seeds
                                                </h1>
                                                <p class="banner-des">Delight in spicy chicken, seasoned to perfection and garnished with crunchy sesame seeds for an extra layer of flavor.</p>
                                                <div class="banner-btn-sec mt-3">
                                                    <a href="" class="custom-btn">Visit Us!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 my-2">
                                        <div class="slider-item-img">
                                            <img src="{% static 'assets/img/slider/slider4.png' %}" alt="Chicken Chilly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="row">
                                    <div class="col-md-6 my-2">
                                        <div class="slider-details" >
                                            <div class="text-inner">
                                                <span class="sm-title mb-0">Signature Dishes In Everest Grill</span>
                                                <h1 class="banner-title">
                                                    Hydrabadi Chicken <a href="#">Dum Biryani</a>
                                                </h1>
                                                <p class="banner-des">Immerse yourself in the rich flavors of Hyderabadi Chicken Dum Biryani—fragrant basmati rice layered with tender, spiced chicken and slow-cooked to perfection.</p>
                                                <div class="banner-btn-sec mt-3">
                                                    <a href="" class="custom-btn">Visit Us!</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6 my-2">
                                        <div class="slider-item-img">
                                            <img src="{% static 'assets/img/slider/slider5.png' %}" alt="Image not found">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                    <!-- ========video model======= -->
                    <div id="video-overlay" class="video-overlay">
                        <a class="video-overlay-close">&times;</a>
                    </div>
                </div>
                <!-- banner slider end  -->
            </div>
            <!-- container end  -->
            <div class="banner-pagination"></div>
        </div>
        <!-- banner end  -->
    </section>
    <!-- banner end -->
    <!-- social sec  -->
    <div class="social-sec">
        <div class="right-social">
            <ul class="right-social-ul">
                <li><a href="" class="share-link">Facebook</a></li>

                <li><a href="" class="share-link">Twitter</a></li>

                <li><a href="" class="share-link">Instagram</a></li>
            </ul>
        </div>
    </div>
    <!-- social sec end  -->
    <!-- ======feature===== -->
    <div class="feature cpy-8">
        <!-- container  -->
        <div class="container">
            <!-- row  -->
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4 feature-card-container">
                    <div class="feature-card" data-aos="fade-up" data-aos-duration="1000">
                        <div class="feature-icon-sec">
                            <div class="feature-box">
                                <img src="{% static 'assets/img/icon/1.png' %}" alt="Image not found">
                            </div>
                        </div>
                        <div class="feature-details" data-background="{% static 'assets/img/icon/f-bg.png' %}">
                            <h3 class="feature-name"><a href="service-details.html">100% Swiss Quality</a></h3>
                            <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                            <a href="service-details.html" class="discover-bt">Discover More</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4 feature-card-container">
                    <div class="feature-card" data-aos="fade-up" data-aos-duration="1500">
                        <div class="feature-icon-sec">
                            <div class="feature-box">
                                <img src="{% static 'assets/img/icon/2.png' %}" alt="Image not found">
                            </div>
                        </div>
                        <div class="feature-details" data-background="{% static 'assets/img/icon/f-bg.png' %}">
                            <h3 class="feature-name"><a href="service-details.html">Organic Production</a></h3>
                            <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                            <a href="service-details.html" class="discover-bt">Discover More</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4 feature-card-container">
                    <div class="feature-card" data-aos="fade-up" data-aos-duration="2000">
                        <div class="feature-icon-sec">
                            <div class="feature-box">
                                <img src="{% static 'assets/img/icon/3.png' %}" alt="Image not found">
                            </div>
                        </div>
                        <div class="feature-details" data-background="{% static 'assets/img/icon/f-bg.png' %}">
                            <h3 class="feature-name"><a href="service-details.html">Food Law Certified</a></h3>
                            <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                            <a href="service-details.html" class="discover-bt">Discover More</a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-md-6 col-lg-4 col-sm-6 mb-4 feature-card-container">
                    <div class="feature-card" data-aos="fade-up" data-aos-duration="2500">
                        <div class="feature-icon-sec">
                            <div class="feature-box">
                                <img src="{% static 'assets/img/icon/4.png' %}" alt="Image not found">
                            </div>
                        </div>
                        <div class="feature-details" data-background="{% static 'assets/img/icon/f-bg.png' %}">
                            <h3 class="feature-name"><a href="service-details.html">Food Law Certified</a></h3>
                            <p class="feature-des">Lorem ipsum dol consectetur adipiscing elit, sed eiusmod tempor incididunt ut labore dolore magna aliqua</p>
                            <a href="service-details.html" class="discover-bt">Discover More</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- row end  -->
        </div>
        <!-- container end  -->
    </div>
    <!-- ======feature end===== -->

    <!-- =========About====== -->
    <section>
        <div class="about about-1 cpy-8">
            <!-- container  -->
            <div class="container">
                <!-- row  -->
                <div class="row">
                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="about-img">
                            <img src="{% static 'assets/img/banner/about-banner.png' %}" alt="">
                        </div>
                    </div>

                    <div class="col-lg-6 col-md-6 mb-4">
                        <div class="h-100 d-flex align-items-center pl-40">
                            <div class="about-details">
                                <span class="sm-title">About Us</span>
                                <p class="about-des mb-4">
                                    Welcome to Everest Grill & Restro in the heart of Tallinn! Our chefs, with over 20 years of international experience, bring authentic Asian, Thai, Indian, and Chinese flavors to every dish. From vibrant curries to savory stir-fries and special grilled Shaslik meats, our diverse menu has something for everyone.
                                    <br/> <br/>
                                    Join us for an exceptional dining experience in an inviting atmosphere. We look forward to serving you!
                                <div class="service-list">
                                    <ul class="service-ul">
                                        <li class="ab-service-li mb-4">
                                            <div class="service-icon">
                                                <img src="{% static 'assets/img/icon/2.png' %}" alt="">
                                            </div>
                                            <div class="service-name-des">
                                                <h4 class="service-name mb-1">Skilled Chefs</h4>
                                                <p class="service-des">
                                                    Exceptionally skilled chefs with over 20 years of international experience are at your service.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="ab-service-li mb-4">
                                            <div class="service-icon">
                                                <img src="{% static 'assets/img/icon/4.png' %}" alt="">
                                            </div>
                                            <div class="service-name-des">
                                                <h4 class="service-name mb-1">Vegan Cuisine</h4>
                                                <p class="service-des">
                                                    Delight in our exquisite vegan cuisine, crafted with fresh, locally-sourced ingredients for a wholesome dining experience.
                                                </p>
                                            </div>
                                        </li>
                                        <li class="ab-service-li mb-4">
                                            <div class="service-icon">
                                                <img src="{% static 'assets/img/icon/6.png' %}" alt="">
                                            </div>
                                            <div class="service-name-des">
                                                <h4 class="service-name mb-1">Vibrant Space</h4>
                                                <p class="service-des">
                                                    Enjoy our vibrant space, where colorful ambiance and lively atmosphere create the perfect setting for memorable moments.
                                                </p>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- row end  -->
            </div>
            <!-- container end  -->
        </div>
    </section>
    <!-- =========About end====== -->
    <!-- ========Product section========= -->
    <section>
        <div class="all-product all-product-1">
            <!-- product inner  -->
            <div class="product-inner cpy-8" data-background="{% static 'assets/img/product/bg.webp' %}">
                <!-- container  -->
                <div class="container">
                    <!-- row  -->
                    <div class="row">
                        <div class="section-head text-center">
                            <span class="sm-title ">Special Menu</span>
                            <h2 class="sec-title">
                                Our Specials Menu
                            </h2>
                            <div class="product-cat mb-40">
                                <div class="controls">
                                    <ul class="cat-menu">
                                        <li class="cat-menu-li " data-filter="all">
                                            <img src="{% static 'assets/img/menu-icon/7.webp' %}" alt="" class="cat-icon">
                                            <span class="cat-name">All</span>
                                        </li>
                                        <li class="cat-menu-li " data-filter=".pizza">
                                            <img src="{% static 'assets/img/menu-icon/1.webp' %}" alt="" class="cat-icon">
                                            <span class="cat-name">Pizza</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".asian">
                                            <img src="{% static 'assets/img/menu-icon/2.webp' %}" alt="" class="cat-icon">
                                            <span class="cat-name">Asian</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".burger">
                                            <img src="{% static 'assets/img/menu-icon/3.webp' %}" alt="" class="cat-icon">
                                            <span class="cat-name">Burger</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".salad">
                                            <img src="{% static 'assets/img/menu-icon/4.webp' %}" alt="" class="cat-icon">
                                            <span class="cat-name">Salad</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".bakery">
                                            <img src="{% static 'assets/img/menu-icon/5.webp' %}" alt="" class="cat-icon">
                                            <span class="cat-name">Bakery</span>
                                        </li>
                                        <li class="cat-menu-li" data-filter=".drink">
                                            <img src="{% static 'assets/img/menu-icon/6.webp' %}" alt="" class="cat-icon">
                                            <span class="cat-name">Drink</span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end  -->
                    <!-- row  -->
                    <div class="row" data-aos="fade-up" data-aos-duration="1000">
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4 mix pizza">
                            <div class="product-card">
                                <div class="product-img">
                                    <a href="shop.html"><img src="{% static 'assets/img/product/pizza.jpg' %}" alt="Pizza" width="370" height="340"></a>
                                </div>
                                <div class="product-details">
                                    <a href="shop.html" class="product-name">Grilled Fingerlings Pizza</a>
                                    <p class="product-sm-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus turpis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4 mix asian">
                            <div class="product-card">
                                <div class="product-img">
                                    <a href="shop.html"><img src="{% static 'assets/img/product/cfc.webp' %}" alt="Crunchy Fried Chicken" width="370" height="340"></a>
                                </div>
                                <div class="product-details">
                                    <a href="shop.html" class="product-name">Crunchy Fried Chicken</a>
                                    <p class="product-sm-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus turpis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4 mix burger">
                            <div class="product-card">
                                <div class="product-img">
                                    <a href="shop.html"><img src="{% static 'assets/img/product/burger.jpg' %}" alt="Burger" width="370" height="340"></a>
                                </div>
                                <div class="product-details">
                                    <a href="shop.html" class="product-name">Burger</a>
                                    <p class="product-sm-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus turpis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4 mix salad">
                            <div class="product-card">
                                <div class="product-img">
                                    <a href="shop.html"><img src="{% static 'assets/img/product/dumbiryani.webp' %}" alt="Chicken Dum Biryani" width="370" height="340"></a>
                                </div>
                                <div class="product-details">
                                    <a href="shop.html" class="product-name">Chicken Dum Biryani</a>
                                    <p class="product-sm-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus turpis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4 mix bakery">
                            <div class="product-card">
                                <div class="product-img">
                                    <a href="shop.html"><img src="{% static 'assets/img/product/chickenchilly.jpg' %}" alt="Chicken Chilly" width="370" height="340"></a>
                                </div>
                                <div class="product-details">
                                    <a href="shop.html" class="product-name">Chicken Chilly</a>
                                    <p class="product-sm-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus turpis</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-4 col-lg-4 col-md-6 col-sm-6 mb-4 mix drink">
                            <div class="product-card">
                                <div class="product-img">
                                    <a href="shop.html"><img src="{% static 'assets/img/product/jholmomo.jpg' %}" alt="Jhol Momo" width="370" height="340"></a>
                                </div>
                                <div class="product-details">
                                    <a href="shop.html" class="product-name">Jhol Momo</a>
                                    <p class="product-sm-des">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc tellus turpis</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- row end  -->
                </div>
                <!-- container end  -->
            </div>
            <!-- product inner end  -->
        </div>
    </section>
    <!-- ========Product section end========= -->

    <!-- ===========our team========= -->
    <section>
        <!-- team  -->
        <div class="team cmb-7">
            <!-- container  -->
            <div class="container">
                <div class="section-head text-center " data-aos="fade-up" data-aos-duration="1000">
                    <span class="sm-title ">
                        Our Team
                    </span>
                    <h2 class="sec-title">
                        Meet Our Team
                    </h2>
                </div>
                <div class="row mt-40">
                    <div class="col-md-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-duration="1000">
                        <div class="team-card" >
                            <div class="member-img">
                                <a href="team-view.html"><img src="{% static 'assets/img/team/1.png' %}" alt="Image not found"></a>
                            </div>
                            <div class="member-details">
                                <a href="team-view.html" class="member-name">Devraj Gaihre</a>
                                <p class="member-title">
                                    Head Chef
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-duration="1500">
                        <div class="team-card" >
                            <div class="member-img">
                                <a href="team-view.html"><img src="{% static 'assets/img/team/2.png' %}" alt="Image not found"></a>
                            </div>
                            <div class="member-details">
                                <a href="team-view.html" class="member-name">Samjhouta Sapkota Gaihre</a>
                                <p class="member-title">
                                    Executive
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-6 mb-4" data-aos="fade-up" data-aos-duration="2000">
                        <div class="team-card">
                            <div class="member-img">
                                <a href="team-view.html"><img src="{% static 'assets/img/team/3.png' %}" alt="Image not found"></a>
                            </div>
                            <div class="member-details">
                                <a href="team-view.html" class="member-name">Raj Kumar Nepal</a>
                                <p class="member-title">
                                    IT & Support
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container end  -->
        </div>
        <!-- team end  -->
    </section>
    <!-- ===========our team end========= -->

    <!-- ==================Customers========== -->
    <section>
        <!-- customer  -->
        <div class="customer customer-1 cpy-8">
            <!-- container  -->
            <div class="container">
                <!-- section head  -->
                <div class="section-head text-center " data-aos="fade-up" data-aos-duration="1000">
                    <span class="sm-title ">Happy Customers</span>
                    <h2 class="sec-title">
                        Our Guestbook
                    </h2>
                </div>
                <!-- section head end  -->
                <div class="d-flex justify-content-center">
                    <div class="col-12 col-sm-12 col-md-10" data-aos="fade-up" data-aos-duration="1500">
                        <div class="swiper customer-review">
                            <div class="swiper-wrapper">
                                <div class="swiper-slide review-item">
                                    <div class="row">
                                        <div class="col-md-7 my-2">
                                            <div class="review">
                                                <img src="{% static 'assets/img/icon/7.png' %}" alt="" class="quotation">
                                                <p>
                                                    Everest Grill & Resto exceeded all my expectations! The food is consistently delicious, with a wonderful variety that caters to every palate. The vibrant decor and warm, inviting atmosphere make it a pleasure to dine in. Plus, the convenience of their delivery service is a huge bonus. This place is a true treasure!
                                                </p>
                                                <h3 class="customer-name mb-0">Reson Roy
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-5 my-2">
                                            <div class="customer-img">
                                                <img src="{% static 'assets/img/customer/1.png' %}" alt="Image Not found">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide review-item">
                                    <div class="row">
                                        <div class="col-md-7 my-2">
                                            <div class="review">
                                                <img src="{% static 'assets/img/icon/7.png' %}" alt="" class="quotation">
                                                <p>Everest Grill & Resto is a culinary gem in Tallinn! The diverse menu, from savory Indian curries to flavorful Thai stir-fries, never fails to impress. Each bite is a delightful journey of flavors. The vibrant atmosphere and exceptional service create the perfect experience. Highly recommend for food lovers!
                                                </p>

                                                <h3 class="customer-name mb-0">Reson Roy <span>- Tool Customar</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-5 my-2">
                                            <div class="customer-img">
                                                <img src="{% static 'assets/img/customer/12.png' %}" alt="Image Not found">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide review-item">
                                    <div class="row">
                                        <div class="col-md-7 my-2">
                                            <div class="review">
                                                <img src="{% static 'assets/img/icon/7.png' %}" alt="" class="quotation">
                                                <p>An absolute must-visit! Everest Grill & Resto offers an unparalleled variety of Asian cuisine, and their Shaslik grilled meats are a standout. The ambiance is vibrant and welcoming, making it an ideal spot for both casual meals and special occasions. The delivery service through Bolt and Wolt is also prompt and reliable. Can't wait to return!
                                                </p>

                                                <h3 class="customer-name mb-0">Reson Roy <span>- Tool Customar</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-5 my-2">
                                            <div class="customer-img">
                                                <img src="{% static 'assets/img/customer/12.png' %}" alt="Image Not found">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="swiper-slide review-item">
                                    <div class="row">
                                        <div class="col-md-7 my-2">
                                            <div class="review">
                                                <img src="{% static 'assets/img/icon/7.png' %}" alt="" class="quotation">
                                                <p>Dining at Everest Grill & Resto is always a fantastic experience. The menu boasts an impressive range of dishes, each expertly crafted. The flavors are authentic and delicious, whether you’re indulging in Indian, Thai, or Chinese cuisine. The restaurant's lively atmosphere and attentive staff add to the overall charm. Highly recommend to anyone in Tallinn!
                                                </p>

                                                <h3 class="customer-name mb-0">Reson Roy <span>- Tool Customar</span>
                                                </h3>
                                            </div>
                                        </div>
                                        <div class="col-md-5 my-2">
                                            <div class="customer-img">
                                                <img src="{% static 'assets/img/customer/12.png' %}" alt="Image Not found">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="review-pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- container end  -->
        </div>
        <!-- custome end  -->
    </section>
    <!-- ==================Customers end========== -->

{% endblock maincontent %}