<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafeu | Menu</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/log.png" />
        <link rel="stylesheet" href="./assets/css/bootstrap/bootstrap.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Jost&family=Nunito&family=Oswald:wght@400;500;600;700&family=Plus+Jakarta+Sans&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="./assets/font-awesome/all.min.css">
        <link rel="stylesheet" href="assets/css/animation/aos.css">
        <link rel="stylesheet" href="./assets/css/aida-home-styles.css">
        <link rel="stylesheet" href="./assets/css/footer.css">
  </head>
  <body>
    <div id="preloader">
        <div id="container" class="container-preloader">
            <div class="animation-preloader">
                <div class="spinner"></div>
            </div>	
            <div class="loader-section section-left"></div>
            <div class="loader-section section-right"></div>
        </div>
    </div>
    <!---------------
            Header 
        -------------->
    <header>
      <nav>
        <div class="ad-navbar-sm d-flex justify-content-between align-items-center d-lg-none">
            <div>
                <img src="assets/img/logo/logo.png" alt="">
            </div>
            <div
                class="ad-responsive-menubar"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasTop"
                aria-controls="offcanvasTop"
            >
            <i class="fa-thin fa-bars-sort"></i>
            </div>
        </div>
        <div class=" d-none d-lg-block">
            <div class="ad-header-container">
                <div class="ad-header-menu-container">
                    <div class="d-flex gap-3">
                        <div
                            class="ad-search-icon"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasTopSearch"
                            aria-controls="offcanvasTopSearch"
                        >
                        <i class="fa-light fa-magnifying-glass"></i>
                        </div>
                        <div
                            class="offcanvas offcanvas-top navbar-offcanvas-lg"
                            tabindex="-1"
                            id="offcanvasTopSearch"
                            aria-labelledby="offcanvasTopLabel"
                        >
                            <div class="offcanvas-header">
                                <h5 id="offcanvasTopLabel"></h5>
                                <div class="ad-responsive-close-btn">
                                    <button
                                        type="button"
                                        class="btn-close text-reset"
                                        data-bs-dismiss="offcanvas"
                                        aria-label="Close"
                                    ></button>
                                </div>
                            </div>
                            <div class="offcanvas-body navbar-offcanvas-search">
                                <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Search Your Food"
                                >
                                <br>
                                <button>Search</button>
                            </div>
                        </div>
                    </div>
                    <nav class="ad-navlist">
                        <li class="dropdown">
                            <a href="home-6.html" class="ad-nav-anchor">Home+</a>
                            <ul class="dropdown-content">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="home-2.html">Home 2</a></li>
                                <li><a href="home-3.html">Home 3</a></li>
                                <li><a href="home-4.html">Home 4</a></li>
                                <li><a href="home-5.html">Home 5</a></li>
                                <li><a href="home-6.html">Home 6</a></li>
                                <li><a href="home-7.html">Home 7</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="about-2.html" class="ad-nav-anchor">About Us+</a>
                            <ul class="dropdown-content">
                                <li><a href="about.html">About 1</a></li>
                                <li><a href="about-2.html">About 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="menu-2.html" class="ad-nav-anchor">Menu+</a>
                            <ul class="dropdown-content">
                                <li><a href="menu.html">Menu 1</a></li>
                                <li><a href="menu-2.html">Menu 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="Reservation.html" class="ad-nav-anchor">Reservation</a>
                            <div class="grad-nav-border">
                                <div class="left-nav-border"></div>
                                <div class="right-nav-border"></div>
                            </div>
                        </li>
                    </nav>
                </div>
                <div class="ad-logo">
                    <a href="index.html">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </a>
                </div>
                <div class="ad-header-pages-container">
                    <li class="dropdown">
                        <a href="menu-2.html" class="ad-nav-anchor">Shop+</a>
                        <ul class="dropdown-content">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-details.html">Shop Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="ad-nav-anchor">Pages+</a>
                        <ul class="dropdown-content">        
                                <li><a href="faq.html">FAQs</a></li>       
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="service-details.html">Service Details</a></li>
                                <li><a href="project-details.html">Project Details</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="team-view.html">Team Details</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="singel-post.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a  href="contact.html" class="ad-nav-anchor">Contact+</a>
                        <ul class="dropdown-content">
                            <li><a href="contact.html">Contact 1</a></li>
                            <li><a href="contact-2.html">Contact 2</a></li>
                        </ul>
                    </li>
                    <div class="d-flex gap-3 align-items-center">
                        <div class="ad-header-cart-container">
                            <div class="ad-cart-img-container">
                                <i class="fa-light fa-cart-shopping"></i>
                                <span class="ad-cart-count">01</span>
                            </div>
                        </div>
                        <div class="fs-5">
                            <a href="Reservation.html">
                                <button>Book A Table</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="offcanvas offcanvas-top h-100 ad-responsive-navbar"
            tabindex="-1"
            id="offcanvasTop"
            aria-labelledby="offcanvasTopLabel"
        >
            <div class="d-flex align-items-center justify-content-between mt-3 mx-3">
                <a href="index.html">
                    <img src="./assets/img/logo/logo.png" alt="">
                </a>
                <div class="ad-responsive-close-btn">
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
            </div>
            <div class="offcanvas-body">
                <ul class="ad-responsive-navbar-list">
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Home+</a>
                            <li class="responsive-dropdown-content">
                                <a href="index.html">Home 1</a>
                                <a href="home-2.html">Home 2</a>
                                <a href="home-3.html">Home 3</a>
                                <a href="home-4.html">Home 4</a>
                                <a href="home-5.html">Home 5</a>
                                <a href="home-6.html">Home 6</a>
                                <a href="home-7.html">Home 7</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">About+</a>
                            <li class="responsive-dropdown-content">
                                <a href="about.html">About 1</a>
                                <a href="about-2.html">About 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Menu+</a>
                            <li class="responsive-dropdown-content">
                                <a href="menu.html">Menu 1</a>
                                <a href="menu-2.html">Menu 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="Reservation.html">
                            <p>Reservation</p>
                        </a>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Shop+</a>
                            <li class="responsive-dropdown-content">
                                <a href="shop.html">Shop </a>
                                <a href="shop-details.html">Shop Details</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Pages</a>
                            <li class="responsive-dropdown-content">
                                <a href="faq.html">FAQs</a>
                                <a href="gallery.html">Gallery</a>
                                <a href="service.html">Service</a>
                                <a href="service-details.html">Service Details</a>
                                <a href="project-details.html">Project Details</a>
                                <a href="team.html">Team</a>
                                <a href="team-view.html">Team Details</a>
                                <a href="pricing.html">Pricing</a>
                                <a href="cart.html">Cart</a>
                                <a href="wishlist.html">Wishlist</a>
                                <a href="blog.html">Blog</a>
                                <a href="blog-grid.html">Blog Grid</a>
                                <a href="singel-post.html">Blog Details</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Contact+</a>
                            <li class="responsive-dropdown-content">
                                <a href="contact.html">Contact 1 </a>
                                <a href="contact-2.html">Contact 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="ad-responsive-search position-relative">
                    <input type="text" placeholder="Search Your Food">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="d-flex gap-4 mt-4 text-center ad-responsive-account">
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <p>Account</p>
                    </div>
                    <div class="position-relative">
                        <i class="fa-light fa-cart-shopping"></i>
                        <span>01</span>
                        <p>View Cart</p>
                    </div>
                    <div class="fs-5 ad-responsive-btn text-center">
                        <a href="Reservation.html">
                            <button>Book A Table</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    </header>
    <main>
      <!--------------- 
               Banner 
         ---------------->
      <section >
        <div class="ad-menu-banner position-relative">
          <div class="ad-menu-banner-overlay">
            <div>
              <a href="index.html">Home /</a>
              <a href="menu.html"> Menu</a>
            </div>
          </div>
        </div>
      </section>
      <!-------------------
                Scan Qr Code
            ------------------->
      <section data-aos="fade-up">
        <div class="ad-menu-qr-code">
          <div class="ad-menu-qr-code-container">
            <p>
              Scan the QR Code<br class="d-none d-lg-block" />
              to View Full Menu
            </p>
            <img src="./assets/img/aida-images/menu-qr-code.png" alt="" />
          </div>
        </div>
      </section>
      <!----------------
               Happy Hours
            ----------------->
      <section data-aos="fade-up">
        <div class="ad-menu-happy-ours">
          <div class="ad-offer-title-container">
            <img src="./assets/img/aida-images/service-icon.png" alt="" />
            <h4>Happy Hours</h4>
          </div>
          <div class="container ad-offer-container">
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image1.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>CROQUE MONSIEUR</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image2.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Beef Belly Tacos</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image3.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Tender Octopus</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image4.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Greek Salab food</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image5.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Signature BBQ</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image6.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Pastrami FOOD</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
        </div>
        </div>
      </section>
      <!----------------
               Lunch
            ----------------->
      <section data-aos="fade-up">
        <div class="ad-offer ad-menu-lunch">
          <div class="ad-offer-title-container">
            <img src="./assets/img/aida-images/service-icon.png" alt="" />
            <h4>Lunch</h4>
          </div>
          <div class="container ad-offer-container">
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image1.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>CROQUE MONSIEUR</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image2.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Beef Belly Tacos</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image3.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Tender Octopus</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image4.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Greek Salab food</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image5.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Signature BBQ</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image6.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Pastrami FOOD</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
        </div>
        </div>
      </section>
      <!----------------
               Dinner
            ----------------->
      <section data-aos="fade-up">
        <div class="ad-menu-happy-ours">
          <div class="ad-offer-title-container">
            <img src="./assets/img/aida-images/service-icon.png" alt="" />
            <h4>Dinner</h4>
          </div>
          <div class="container ad-offer-container">
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image1.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>CROQUE MONSIEUR</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image2.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Beef Belly Tacos</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image3.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Tender Octopus</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image4.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Greek Salab food</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image5.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Signature BBQ</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
            <div class="ad-offer-single-card">
                <a href="shop-details.html">
                    <img src="./assets/img/aida-images/offer-image6.png" alt="">
                </a>
                <div>
                    <a href="shop-details.html" class="ad-offer-card-text-container">
                        <h5>Pastrami FOOD</h5>
                        <div class="d-flex gap-2 align-items-center">
                            <span class="ad-offer-dotted">------------------------------</span>
                            <span class="ad-offer-responsive-dotted">-------------</span>
                            <span class="ad-offer-price">  $20.30</span>
                        </div>
                    </a>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. A asperiores necessitatibus vel non eos.</p>
                    <a href="cart.html">Add To Cart</a>
                </div>
            </div>
        </div>
        </div>
      </section>
    </main>
    <!-----------------------
                        Footer 
                ---------------------->
    <footer data-aos="fade-up">
      <div class="ad-footer position-relative ad-menu-footer">
        <div class="container">
          <div class="ad-footer-subscribe">
            <h4>Our Newsletter Now</h4>
            <div class="position-relative">
              <input type="text" placeholder="Your Email Address" />
              <a href="#">
                <button>Subscribe</button>
              </a>
            </div>
          </div>
          <div class="ad-footer-border"></div>
          <div class="ad-footer-list-container row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <a href="index.html">
                <img src="./assets/img/logo/logo-white.png" alt="" />
              </a>
              <div class="d-flex gap-3 align-items-center">
                <i class="fa-solid fa-location-dot"></i>
                <p>
                  4920 Trails End Road Ft United
                  <br />
                  States, FL 33311
                </p>
              </div>
              <div class="d-flex gap-3 align-items-center">
                <i class="fa-solid fa-envelope-open-text"></i>
                <p>
                  nfo@example.com
                  <br />
                  test@example.com
                </p>
              </div>
              <div class="d-flex gap-3 align-items-center">
                <i class="fa-solid fa-phone-volume"></i>
                <div>
                  <a href="tel:+123 456 679 123"> +123 456 679 123 </a><br />
                  <a href="tel:+123 456 789"> +123 456 789 </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <h5>Our Services</h5>
              <ul>
                <li>
                  <a href="about.html"> Fast Delivery </a>
                </li>
                <li>
                  <a href="about.html">Vegan Cuisine</a>
                </li>
                <li>
                  <a href="about.html"> Fresh Products </a>
                </li>
                <li>
                  <a href="about.html">Skilled Chefs</a>
                </li>
                <li>
                  <a href="about.html">Great Coffee</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <h5>Quick Links</h5>
              <ul>
                <li>
                  <a href="about.html"> About Us </a>
                </li>
                <li>
                  <a href="about.html"> Testimonials </a>
                </li>
                <li>
                  <a href="team.html"> Our Team </a>
                </li>
                <li>
                  <a href="blog.html"> Blog </a>
                </li>
                <li>
                  <a href="contact.html"> Contact Us </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <h5>Opening Hours</h5>
              <ul>
                <li>
                  Mon -
                  <span class="ad-footer-list-opening-timer"
                    >from 8am to 9pm</span
                  >
                </li>
                <li>
                  Saturday -
                  <span class="ad-footer-list-opening-timer"
                    >from 9am to 4pm</span
                  >
                </li>
                <li>
                  Sunday -
                  <span class="ad-footer-list-opening-timer"
                    >from 8am to 9pm</span
                  >
                </li>
                <li>
                  Mon -
                  <span class="ad-footer-list-opening-timer"
                    >from 9am to 4pm</span
                  >
                </li>
                <li>
                  Saturday -
                  <span class="ad-footer-list-opening-timer"
                    >from 8am to 9pm</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ad-footer-bottom">
          <p>Codebasket © 2023. All Rights Reserved.</p>
          <img src="./assets/img/aida-images/payment.png" alt="" />
        </div>
      </div>
    </footer>
    <!-- Script -->
    <script src="./assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- Aos Animation -->
    <script src="assets/js/animation/aos.js"></script>
    <script>
    AOS.init();
    </script>

    <!-- Preloader -->
    <script src='assets/js/jquery/jquery.min.js'></script>
   <script>
    $(document).ready(function() {
    setTimeout(function() {
    $('#container').addClass('loaded');
    if ($('#container').hasClass('loaded')) {

    $('#preloader').delay(2000).queue(function() {
     $(this).remove();
    });}
    }, 2000);});

    </script>
  </body>
</html>
