<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cafeu | Reservation</title>
    <link rel="shortcut icon" type="image/png" href="assets/img/log.png" />
    <link rel="stylesheet" href="./assets/css/bootstrap/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Jost&family=Nunito&family=Oswald:wght@400;500;600;700&family=Plus+Jakarta+Sans&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/font-awesome/all.min.css" />
    <link rel="stylesheet" href="assets/css/animation/aos.css">
    <link rel="stylesheet" href="./assets/css/aida-home-styles.css" />
  </head>
  <body>
    <div id="preloader">
			<div id="container" class="container-preloader">
				<div class="animation-preloader">
					<div class="spinner"></div>
				</div>	
				<div class="loader-section section-left"></div>
				<div class="loader-section section-right"></div>
			</div>
		</div>
    <!---------------
            Header 
        -------------->
    <header>
      <nav>
        <div class="ad-navbar-sm d-flex justify-content-between align-items-center d-lg-none">
            <div>
                <img src="assets/img/logo/logo.png" alt="">
            </div>
            <div
                class="ad-responsive-menubar"
                data-bs-toggle="offcanvas"
                data-bs-target="#offcanvasTop"
                aria-controls="offcanvasTop"
            >
            <i class="fa-thin fa-bars-sort"></i>
            </div>
        </div>
        <div class=" d-none d-lg-block">
            <div class="ad-header-container">
                <div class="ad-header-menu-container">
                    <div class="d-flex gap-3">
                        <div
                            class="ad-search-icon"
                            type="button"
                            data-bs-toggle="offcanvas"
                            data-bs-target="#offcanvasTopSearch"
                            aria-controls="offcanvasTopSearch"
                        >
                        <i class="fa-light fa-magnifying-glass"></i>
                        </div>
                        <div
                            class="offcanvas offcanvas-top navbar-offcanvas-lg"
                            tabindex="-1"
                            id="offcanvasTopSearch"
                            aria-labelledby="offcanvasTopLabel"
                        >
                            <div class="offcanvas-header">
                                <h5 id="offcanvasTopLabel"></h5>
                                <div class="ad-responsive-close-btn">
                                    <button
                                        type="button"
                                        class="btn-close text-reset"
                                        data-bs-dismiss="offcanvas"
                                        aria-label="Close"
                                    ></button>
                                </div>
                            </div>
                            <div class="offcanvas-body navbar-offcanvas-search">
                                <input
                                    type="text"
                                    name=""
                                    id=""
                                    placeholder="Search Your Food"
                                >
                                <br>
                                <button>Search</button>
                            </div>
                        </div>
                    </div>
                    <nav class="ad-navlist">
                        <li class="dropdown">
                            <a href="home-6.html" class="ad-nav-anchor">Home+</a>
                            <ul class="dropdown-content">
                                <li><a href="index.html">Home 1</a></li>
                                <li><a href="home-2.html">Home 2</a></li>
                                <li><a href="home-3.html">Home 3</a></li>
                                <li><a href="home-4.html">Home 4</a></li>
                                <li><a href="home-5.html">Home 5</a></li>
                                <li><a href="home-6.html">Home 6</a></li>
                                <li><a href="home-7.html">Home 7</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="about-2.html" class="ad-nav-anchor">About Us+</a>
                            <ul class="dropdown-content">
                                <li><a href="about.html">About 1</a></li>
                                <li><a href="about-2.html">About 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="menu-2.html" class="ad-nav-anchor">Menu+</a>
                            <ul class="dropdown-content">
                                <li><a href="menu.html">Menu 1</a></li>
                                <li><a href="menu-2.html">Menu 2</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="Reservation.html" class="ad-nav-anchor">Reservation</a>
                            <div class="grad-nav-border">
                                <div class="left-nav-border"></div>
                                <div class="right-nav-border"></div>
                            </div>
                        </li>
                    </nav>
                </div>
                <div class="ad-logo">
                    <a href="index.html">
                        <img src="./assets/img/logo/logo.png" alt="">
                    </a>
                </div>
                <div class="ad-header-pages-container">
                    <li class="dropdown">
                        <a href="menu-2.html" class="ad-nav-anchor">Shop+</a>
                        <ul class="dropdown-content">
                            <li><a href="shop.html">Shop</a></li>
                            <li><a href="shop-details.html">Shop Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="ad-nav-anchor">Pages+</a>
                        <ul class="dropdown-content">        
                                <li><a href="faq.html">FAQs</a></li>       
                                <li><a href="gallery.html">Gallery</a></li>
                                <li><a href="service.html">Service</a></li>
                                <li><a href="service-details.html">Service Details</a></li>
                                <li><a href="project-details.html">Project Details</a></li>
                                <li><a href="team.html">Team</a></li>
                                <li><a href="team-view.html">Team Details</a></li>
                                <li><a href="pricing.html">Pricing</a></li>
                                <li><a href="cart.html">Cart</a></li>
                                <li><a href="wishlist.html">Wishlist</a></li>
                                <li><a href="blog.html">Blog</a></li>
                                <li><a href="blog-grid.html">Blog Grid</a></li>
                                <li><a href="singel-post.html">Blog Details</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a  href="contact.html" class="ad-nav-anchor">Contact+</a>
                        <ul class="dropdown-content">
                            <li><a href="contact.html">Contact 1</a></li>
                            <li><a href="contact-2.html">Contact 2</a></li>
                        </ul>
                    </li>
                    <div class="d-flex gap-3 align-items-center">
                        <div class="ad-header-cart-container">
                            <div class="ad-cart-img-container">
                                <i class="fa-light fa-cart-shopping"></i>
                                <span class="ad-cart-count">01</span>
                            </div>
                        </div>
                        <div class="fs-5">
                            <a href="Reservation.html">
                                <button>Book A Table</button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div
            class="offcanvas offcanvas-top h-100 ad-responsive-navbar"
            tabindex="-1"
            id="offcanvasTop"
            aria-labelledby="offcanvasTopLabel"
        >
            <div class="d-flex align-items-center justify-content-between mt-3 mx-3">
                <a href="index.html">
                    <img src="./assets/img/logo/logo.png" alt="">
                </a>
                <div class="ad-responsive-close-btn">
                    <button
                        type="button"
                        class="btn-close text-reset"
                        data-bs-dismiss="offcanvas"
                        aria-label="Close"
                    ></button>
                </div>
            </div>
            <div class="offcanvas-body">
                <ul class="ad-responsive-navbar-list">
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Home+</a>
                            <li class="responsive-dropdown-content">
                                <a href="index.html">Home 1</a>
                                <a href="home-2.html">Home 2</a>
                                <a href="home-3.html">Home 3</a>
                                <a href="home-4.html">Home 4</a>
                                <a href="home-5.html">Home 5</a>
                                <a href="home-6.html">Home 6</a>
                                <a href="home-7.html">Home 7</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">About+</a>
                            <li class="responsive-dropdown-content">
                                <a href="about.html">About 1</a>
                                <a href="about-2.html">About 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Menu+</a>
                            <li class="responsive-dropdown-content">
                                <a href="menu.html">Menu 1</a>
                                <a href="menu-2.html">Menu 2</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="Reservation.html">
                            <p>Reservation</p>
                        </a>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Shop+</a>
                            <li class="responsive-dropdown-content">
                                <a href="shop.html">Shop </a>
                                <a href="shop-details.html">Shop Details</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Pages</a>
                            <li class="responsive-dropdown-content">
                                <a href="faq.html">FAQs</a>
                                <a href="gallery.html">Gallery</a>
                                <a href="service.html">Service</a>
                                <a href="service-details.html">Service Details</a>
                                <a href="project-details.html">Project Details</a>
                                <a href="team.html">Team</a>
                                <a href="team-view.html">Team Details</a>
                                <a href="pricing.html">Pricing</a>
                                <a href="cart.html">Cart</a>
                                <a href="wishlist.html">Wishlist</a>
                                <a href="blog.html">Blog</a>
                                <a href="blog-grid.html">Blog Grid</a>
                                <a href="singel-post.html">Blog Details</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <ul class="responsive-dropdown">
                            <a href="#">Contact+</a>
                            <li class="responsive-dropdown-content">
                                <a href="contact.html">Contact 1 </a>
                                <a href="contact-2.html">Contact 2</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="ad-responsive-search position-relative">
                    <input type="text" placeholder="Search Your Food">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </div>
                <div class="d-flex gap-4 mt-4 text-center ad-responsive-account">
                    <div>
                        <i class="fa-solid fa-user"></i>
                        <p>Account</p>
                    </div>
                    <div class="position-relative">
                        <i class="fa-light fa-cart-shopping"></i>
                        <span>01</span>
                        <p>View Cart</p>
                    </div>
                    <div class="fs-5 ad-responsive-btn text-center">
                        <a href="Reservation.html">
                            <button>Book A Table</button>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    </header>
    <main>
      <!--------------- 
               Banner 
         ---------------->
      <section>
        <div class="ad-menu-banner position-relative">
          <div class="ad-menu-banner-overlay">
            <div>
              <a href="index.html">Home /</a>
              <a class="selected-page" href="about.html"> Reservations</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Reservation -->
      <section class="position-relative" data-aos="fade-up">
        <div class="reservation-page">
          <div class="reservation-page-title-container">
            <img src="./assets/img/aida-images/service-icon.png" alt="" />
            <h4>Make a reservation</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat
              aspernatur ipsa veritatis<br class="d-none d-md-block" />
              consectetur cupiditate minima quasi eius ipsa aspernatur
              adipisicing elit veritatis
            </p>

            <p></p>
          </div>

          <div class="reservation-page-direction-container">
            <div class="reservation-page-single-direction">
              <p>01</p>
              <h6>Booking</h6>
            </div>
            <div class="reservation-page-direction">
              <img
                src="./assets/img/aida-images/reservation-page-direction-image1.png"
                alt=""
              />
            </div>
            <div
              class="reservation-page-single-direction reservation-page-single-middle-direction"
            >
              <p>02</p>
              <h6>Give Your Details</h6>
            </div>
            <div class="reservation-page-right-direction">
              <img
                src="./assets/img/aida-images/reservation-page-direction-image2.png"
                alt=""
              />
            </div>
            <div class="reservation-page-single-direction">
              <p>03</p>
              <h6>Confirmation</h6>
            </div>
          </div>
        </div>

        <form class="reservation-page-form">
          <div class="reservation-page-form-container">
            <select name="" id="" class="reservation-page-select-field">
              <option value="" selected disabled hidden>
                Which Branch Of Our Restaurant?
              </option>
              <option value="1">Mirpur</option>
              <option value="2">Uttara</option>
              <option value="3">Dhanmondi</option>
              <option value="4">Gulshan</option>
              <option value="4+">Nikunja</option>
            </select>
            <input
              placeholder="Select Your Reservation Date*"
              class="textbox-n"
              type="date"
              required
            />
            <input placeholder="Start Time *" type="time" required />
            <select
              name=""
              id=""
              class="reservation-page-select-field"
              required
            >
              <option value="" selected disabled hidden>
                How many people are coming? *
              </option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="4+">5+</option>
            </select>
          </div>
          <a href="#">
            <button>Next</button>
          </a>
        </form>
      </section>
      <!-- Subscribe -->
      <section data-aos="fade-up">
        <div class="reservation-page-subscribe">
          <div class="reservation-page-subscribe-container">
            <div class="w-xxl-50 w-75">
              <h5>Never Miss An Update</h5>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                eiusmod<br class="d-none d-md-block" />
                tempor incididunt ut labore et dolore magna aliqua.
              </p>
            </div>
            <div class="w-xxl-50 w-75 d-flex align-items-center">
              <input type="text" placeholder="Enter Email" />
              <a href="#">Subscribe</a>
            </div>
          </div>
        </div>
      </section>
      <!-- Video -->
      <section data-aos="fade-up">
        <div class="reservation-page-video">
          <div class="reservation-page-title-container">
            <img src="./assets/img/aida-images/service-icon.png" alt="" />
            <h4>Book For Private Events</h4>
          </div>
          <div
            id="carouselExample"
            class="carousel slide reservation-page-video-slider"
          >
            <div class="carousel-inner reservation-page-video-container">
              <div class="carousel-item active position-relative">
                <div class="text-center">
                  <img
                    class="ad-banner-img"
                    src="./assets/img/aida-images/reservation-page-video-image.png"
                    class="d-block"
                    alt="..."
                  />
                </div>
                <div class="ad-video-icon reservation-page-video-icon">
                  <a
                    class="text-decoration-none"
                    href="https://youtu.be/Z6Dx-o3vfJY?si=_7CxQt0bH6A0VuJL"
                    data-fslightbox
                  >
                    <i class="fa-solid fa-play"></i>
                  </a>
                </div>
              </div>
              <div class="carousel-item position-relative">
                <div class="text-center">
                  <img
                    class="ad-banner-img"
                    src="./assets/img/aida-images/reservation-page-video-image.png"
                    class="d-block"
                    alt="..."
                  />
                </div>
                <div class="ad-video-icon reservation-page-video-icon">
                  <a
                    class="text-decoration-none"
                    href="https://youtu.be/Z6Dx-o3vfJY?si=_7CxQt0bH6A0VuJL"
                    data-fslightbox
                  >
                    <i class="fa-solid fa-play"></i>
                  </a>
                </div>
              </div>
              <div class="carousel-item position-relative">
                <div class="text-center">
                  <img
                    class="ad-banner-img"
                    src="./assets/img/aida-images/reservation-page-video-image.png"
                    class="d-block"
                    alt="..."
                  />
                </div>
                <div class="ad-video-icon reservation-page-video-icon">
                  <a
                    class="text-decoration-none"
                    href="https://youtu.be/Z6Dx-o3vfJY?si=_7CxQt0bH6A0VuJL"
                    data-fslightbox
                  >
                    <i class="fa-solid fa-play"></i>
                  </a>
                </div>
              </div>
              <div class="reservation-page-video-btn-container">
                <button
                  class="carousel-control-prev reservation-page-video-prev-btn"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="prev"
                >
                  <div class="ad-carousel-arrow">
                    <span
                      class="carousel-control-prev-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Previous</span>
                  </div>
                </button>
                <button
                  class="carousel-control-next reservation-page-video-next-btn"
                  type="button"
                  data-bs-target="#carouselExample"
                  data-bs-slide="next"
                >
                  <div class="ad-carousel-arrow">
                    <span
                      class="carousel-control-next-icon"
                      aria-hidden="true"
                    ></span>
                    <span class="visually-hidden">Next</span>
                  </div>
                </button>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    <!-----------------------
                        Footer 
                ---------------------->
    <footer data-aos="fade-up">
      <div class="ad-footer position-relative ad-menu-footer">
        <div class="container">
          <div class="ad-footer-subscribe">
            <h4>Our Newsletter Now</h4>
            <div class="position-relative">
              <input type="text" placeholder="Your Email Address" />
              <a href="#">
                <button>Subscribe</button>
              </a>
            </div>
          </div>
          <div class="ad-footer-border"></div>
          <div class="ad-footer-list-container row align-items-center">
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <a href="index.html">
                <img src="./assets/img/logo/logo-white.png" alt="" />
              </a>
              <div class="d-flex gap-3 align-items-center">
                <i class="fa-solid fa-location-dot"></i>
                <p>
                  4920 Trails End Road Ft United
                  <br />
                  States, FL 33311
                </p>
              </div>
              <div class="d-flex gap-3 align-items-center">
                <i class="fa-solid fa-envelope-open-text"></i>
                <p>
                  nfo@example.com
                  <br />
                  test@example.com
                </p>
              </div>
              <div class="d-flex gap-3 align-items-center">
                <i class="fa-solid fa-phone-volume"></i>
                <div>
                  <a href="tel:+123 456 679 123"> +123 456 679 123 </a><br />
                  <a href="tel:+123 456 789"> +123 456 789 </a>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <h5>Our Services</h5>
              <ul>
                <li>
                  <a href="about.html"> Fast Delivery </a>
                </li>
                <li>
                  <a href="about.html">Vegan Cuisine</a>
                </li>
                <li>
                  <a href="about.html"> Fresh Products </a>
                </li>
                <li>
                  <a href="about.html">Skilled Chefs</a>
                </li>
                <li>
                  <a href="about.html">Great Coffee</a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <h5>Quick Links</h5>
              <ul>
                <li>
                  <a href="about.html"> About Us </a>
                </li>
                <li>
                  <a href="about.html"> Testimonials </a>
                </li>
                <li>
                  <a href="team.html"> Our Team </a>
                </li>
                <li>
                  <a href="blog.html"> Blog </a>
                </li>
                <li>
                  <a href="contact.html"> Contact Us </a>
                </li>
              </ul>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 col-12 ad-footer-list">
              <h5>Opening Hours</h5>
              <ul>
                <li>
                  Mon -
                  <span class="ad-footer-list-opening-timer"
                    >from 8am to 9pm</span
                  >
                </li>
                <li>
                  Saturday -
                  <span class="ad-footer-list-opening-timer"
                    >from 9am to 4pm</span
                  >
                </li>
                <li>
                  Sunday -
                  <span class="ad-footer-list-opening-timer"
                    >from 8am to 9pm</span
                  >
                </li>
                <li>
                  Mon -
                  <span class="ad-footer-list-opening-timer"
                    >from 9am to 4pm</span
                  >
                </li>
                <li>
                  Saturday -
                  <span class="ad-footer-list-opening-timer"
                    >from 8am to 9pm</span
                  >
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="ad-footer-bottom">
          <p>Codebasket © 2023. All Rights Reserved.</p>
          <img src="./assets/img/aida-images/payment.png" alt="" />
        </div>
      </div>
    </footer>
    <!-- Script -->
    <script src="./assets/js/fslightbox/fslightbox.js"></script>
    <script src="./assets/js/bootstrap/bootstrap.bundle.min.js"></script>
    <!-- Aos Animation -->
    <script src="assets/js/animation/aos.js"></script>
    <script>
    AOS.init();
    </script>

    <!-- Preloader -->
    <script src='assets/js/jquery/jquery.min.js'></script>
    <script>
    $(document).ready(function() {
    setTimeout(function() {
    $('#container').addClass('loaded');
    if ($('#container').hasClass('loaded')) {

    $('#preloader').delay(2000).queue(function() {
     $(this).remove();
    });}
    }, 2000);});

    </script>

  </body>
</html>
